@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
/* body {
  background-color: #191919;
  font: 12px/1.4 "Gotham SSm A","Helvetica Neue",Helvetica,Arial;
}

.wrap {
  display: flex;
  justify-content: center;
}

.tile {
  background: #2c2d2f linear-gradient(to left, #3B3D3F 50%, #2c2d2f 50%) repeat scroll 0 0 / 200% 100%;
  color: #FFF;
  display: inline-block;
  margin: 3px;
  padding: 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-position 0.1s ease 0s;
  vertical-align: top;
}

.tile:hover {
  background-position: 100% 0;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transform: scale(0.97) perspective(400px);
  -moz-transform: scale(0.97) perspective(400px));
  -ms-transform: scale(0.97) perspective(400px);
  transform: scale(0.97) perspective(400px);
}

.tile:active,  
.tile.active {  
  background: #db3839;
}

.tile > span {
  bottom: 5px;
  font-size: 15px;
  font-weight: bold;
  left: 0;
  margin: 0 auto;
  overflow: hidden;
  padding: 4px;
  position: absolute;
  right: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tile-small {
  height: 64px;
  width: 64px;
}

.tile-medium {
  height: 128px;
  width: 128px;
}

.tile-large {
  height: 256px;
  width: 256px;
} */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tile {
  border: 1px solid antiquewhite;
  border-width: 10px;
  background-color: black;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  height: 450px;
  width: 600px;
  display: grid;
  text-align: center;
}


.tile h2 {
  margin-top: 150px;
}

.tile p {
  margin-top: 5px;
}


.tile2 {
  border: 1px solid antiquewhite;
  border-width: 10px;
  background-color: rgb(36, 36, 128);
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  height: 160px;
  width: 210px;
  position: absolute;
  top: 70px;
  text-align: center;
}


.tile2 h2 {
  font-size: medium;
  margin-top: 35px;
}

.tile2 p {
  font-size: small;
  margin-top: 5px;
}

.objectTiles {
  width: 1400px;
  font-size: 0;
  margin: 0 auto;
}
.tile3 {
  display: inline-block;
  border: 1px solid antiquewhite;
  border-width: 10px;
  background-color: rgb(36, 36, 128);
  padding: 20px;
  margin: 40px 10px 10px 10px;
  height: 150px;
  width: 200px;
  top: 600px;
  left: 1px;
  text-align: center;
}


.tile3 h2 {
  font-size: medium;
  margin-top: 25px;
}

.tile3 p {
  font-size: small;
  margin-top: 5px;
}

.navbar {
    background-color: #000000;
    color: #fff;
    height: 70px;
  }

  .navbar ul {
    display: flex;
    list-style-type: none;
  }
  
  .navbar a {
    color: #fff;
    padding: 6px;
    margin: 0 5px;
    text-decoration: none;
  }
  .navbar a:hover {
    border-bottom: 2px #fff solid;
  }
  .navbar i:hover {
    border-bottom: 2px #fff solid;
  }
  
  .navbar .flex {
    justify-content: space-between;
  }
  #fixedbutton {
      position: fixed;
      bottom: 20px;
      right: 20px; 
      height:75px;
      width:75px;
  }
  #fixedbutton2 {
    position: fixed;
    bottom: 110px;
    right: 18px; 
    height:150px;
    width:75px;
}
#fixedbutton3 {
  position: fixed;
  bottom: 280px;
  right: 18px; 
  height:150px;
  width:75px;
}
#fixedbutton4 {
  position: fixed;
  bottom: 450px;
  right: 18px; 
  height:150px;
  width:75px;
}
#fixedbutton5 {
  position: fixed;
  top: 80px; 
  height:765px;
  width:65px;
}
  .button {
      border-color: #04AA6D;
      color: green;
      
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      border-radius: 12px;
    }
    .button:hover {
     background-color: green;
     color:white;
  }
  .button2 {
    border-color: #ff1a1a;
    color: #ff1a1a;
    
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
  }
  .button2:hover {
   background-color: #ff1a1a;
   color:white;
}
.button3 {
  border-color: #3366ff;
  color: #3366ff;
  
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 12px;
}
.button3:hover {
 background-color: #3366ff;
 color:white;
}
  /* Showcase */
.showcase {
  background-color: var(--primary-color);
  
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% auto;
  gap: 30px;
}

.showcase-text {
  animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
  animation: slideInFromRight 1s ease-in;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

/* .showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: blue;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
} */
.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}
#relation-window {
  position: absolute;
  top: 100px;
  left: 760px;
  max-width: 550px;
}
.objects{
  width: 190px;
}
.home{
  text-decoration: none;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  right: -1px;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
